/* indice de estilos

0. generales / colores
1. tipografias
2. header
3. enlaces y botones
4. areas destacadas
5. area experiencia

*/

/* 0. generales / colores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-principal: rgb(255, 208, 0);
    --color-acento: rgba(255, 179, 0, 0.869);
    --color-tercer: rgb(245, 236, 182); 
} 

img{
    width: 100%;
}

.articulos{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
}

/* 1. tipografias */
.titulo-principal{
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: var(--color-principal);
    margin: 20px;
    display: flex;
    justify-content: center;
}

.titulo-secundario{
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: var(--color-acento);
}

.parrafo{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    color: rgb(63, 59, 46);
}

.texto-oculto{
    display: none;
}



/* 2. header */
#Cabecera-principal{
    background-color: var(--color-tercer);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 10px solid;
    color: rgb(239, 206, 16);
}

/* 3. enlaces y botones */
.boton-principal{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(129, 99, 1);
    text-decoration: none;
    padding: 10px 13px;
    transition: all linear 0.3s;
    border-radius: 10px;
}

.boton-principal:hover{
    color: lightyellow;
    background-color: rgb(239, 206, 16);
}

.boton-secundario{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(123, 106, 51);
    text-decoration: none;
    padding: 6px 10px;
    transition: all linear 0.3s;
    border-radius: 3px;
    background-color: var(--color-acento);
}

.boton-secundario:hover{
    color: lightyellow;
    background-color: var(--color-acento);
    padding: 6px 15px;
}

/* 4. areas destacadas */
#areas-destacadas{
justify-content: center;
padding: 100px 0;
}

.articulo-index{
    padding: 20px;
}

.articulo-index *{
    margin: 0 0 10px 0;
}
/* responsives */

@media only screen and (max-width: 600px){
    #Cabecera-principal{
        flex-direction: column;
    }
    .articulos{
        flex-direction: column;
        align-content: center;
    }
    nav[role=navigation]{
        width: 96%;
    }
    .boton-principal{
        display: block;
        width: 95%;
        margin: 5px 2%;
        text-align: center;
        border-bottom: 1px solid rgb(129, 99, 1);
    }
}

/* 5. Area experiencia */
#area-experiencia{
    padding: 100px;
    background-color: var(--color-tercer);

}